# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
build/
coverage/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo

# prisma
packages/db/generated/
